html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", serif;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-family: "PT Sans", serif;
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: 900;
}

a {
  font-family: "PT Sans", serif;
  font-size: 1.125rem;
  color: #8f2440;
  text-decoration: none;
  font-weight: 900;
  list-style-type: none;
}

main p {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: lighter;
}

main figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: .8rem;
  font-weight: 100;
}

img {
  height: 100%;
  width: 100%;
}

main li {
  font-family: "PT Serif", serif;
  font-weight: 100;
  font-size: .8rem;
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
}

aside li {
  list-style-type: circle;
}

blockquote p {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
}

.days {
  font-size: 1.125rem;
  font-weight: bold;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
